.add-todo {
    display: flex;
    margin-top: 5em;
}

div.input {
    display: flex;
    align-items: flex-end;
}

.directive {
    margin: 0;
}

button.save {
    margin: .25em;
}

input {
    margin: 0 .5em;
}

.select-div {
    display: flex;
    flex-direction: column;
}