.todo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.task-points {
    display: flex;
}

p {
    flex: 1;
    font-size: 22px;
}

.buttons {
    display: flex;
    flex: 1;
}

button {
    margin-right: 0.5em;
    border-radius: 8px;
    padding: 0.35em 0.65em;
    border: 1px solid;
}

.completed {
    --fg-color: rgb(41, 155, 73);
    --bg-color: white;
}

.completed:hover {
    --fg-color: white;
    --bg-color: rgb(41, 155, 73);
}

.done {
    --fg-color: rgb(72, 126, 220);
    --bg-color: white;
}

.done:hover {
    --fg-color: white;
    --bg-color: rgb(72, 126, 220);
}

.delete-button {
    --fg-color: tomato;
    --bg-color: white;
    margin-left: 0.5em;

}

.delete-button:hover {
    --fg-color: white;
    --bg-color: tomato;
}

.vertical {
    border-left: 1px solid black;
    height: 25px;
}

.check {
    display: inline-block;
    transform: rotate(45deg);
    height: 24px;
    width: 12px;
    border-bottom: 7px solid var(--color-success);
    border-right: 7px solid var(--color-success);
    margin-right: 1em;
  }